<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">

        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Yeon+Sung&display=swap"
              rel="stylesheet">
        <title>엔딩노트</title>
    </head>
</head>
<script>
    let result_list = []

    function nextEvent1() { // 다음누르면 기존 질문 hide()
        $('#present_rates').css('width', '+=' + (0.05 * $('.widdd2').width()));
        $('#quiz_list1').hide();
        $('#quiz_list2').show();
        result_list.push($('#q1_input').val())
    }

    function nextEvent2() { // 다음누르면 기존 질문 hide()
        $('#present_rates').css('width', '+=' + (0.05 * $('.widdd2').width()));
        $('#quiz_list2').hide();
        $('#quiz_list3').show();
        result_list.push($('#q2_input').val())
    }

    function nextEvent3() { // 다음누르면 기존 질문 hide()
        $('#present_rates').css('width', '+=' + (0.05 * $('.widdd2').width()));
        $('#quiz_list3').hide();
        $('#quiz_list4').show();
        result_list.push($('#q3_input').val())
    }

    function nextEvent4() { // 다음누르면 기존 질문 hide()
        $('#present_rates').css('width', '+=' + (0.05 * $('.widdd2').width()));
        $('#quiz_list4').hide();
        $('#quiz_list5').show();
        result_list.push($('#q4_input').val())
    }

    function nextEvent5() { // 다음누르면 기존 질문 hide()
        $('#present_rates').css('width', '+=' + (0.05 * $('.widdd2').width()));
        $('#quiz_list5').hide();
        $('#quiz_list6').show();
        result_list.push($('#q5_input').val())
    }

    function nextEvent6() { // 다음누르면 기존 질문 hide()
        $('#present_rates').css('width', '+=' + (0.05 * $('.widdd2').width()));
        $('#quiz_list6').hide();
        $('#quiz_list7').show();
        result_list.push($('#q6_input').val())
    }

    function nextEvent7() { // 다음누르면 기존 질문 hide()
        $('#present_rates').css('width', '+=' + (0.05 * $('.widdd2').width()));
        $('#quiz_list7').hide();
        $('#quiz_list8').show();
        result_list.push($('#q7_input').val())
    }

    function nextEvent8() { // 다음누르면 기존 질문 hide()
        $('#present_rates').css('width', '+=' + (0.05 * $('.widdd2').width()));
        $('#quiz_list8').hide();
        $('#quiz_list9').show();
        result_list.push($('#q8_input').val())
    }

    function nextEvent9() { // 다음누르면 기존 질문 hide()
        $('#present_rates').css('width', '+=' + (0.05 * $('.widdd2').width()));
        $('#quiz_list9').hide();
        $('#quiz_list10').show();
        result_list.push($('#q9_input').val())
    }

    function nextEvent10() { // 다음누르면 기존 질문 hide()
        $('#present_rates').css('width', '+=' + (0.05 * $('.widdd2').width()));
        $('#quiz_list10').hide();
        $('#quiz_list11').show();
        result_list.push($('#q10_input').val())
    }

    function nextEvent11() { // 다음누르면 기존 질문 hide()
        $('#present_rates').css('width', '+=' + (0.05 * $('.widdd2').width()));
        $('#quiz_list11').hide();
        $('#quiz_list12').show();
        result_list.push($('#q11_input').val())
    }

    function nextEvent12() { // 다음누르면 기존 질문 hide()
        $('#present_rates').css('width', '+=' + (0.05 * $('.widdd2').width()));
        $('#quiz_list12').hide();
        $('#quiz_list13').show();
        result_list.push($('#q12_input').val())
    }

    function nextEvent13() { // 다음누르면 기존 질문 hide()
        $('#present_rates').css('width', '+=' + (0.05 * $('.widdd2').width()));
        $('#quiz_list13').hide();
        $('#quiz_list14').show();
        result_list.push($('#q13_input').val())
    }

    function nextEvent14() { // 다음누르면 기존 질문 hide()
        $('#present_rates').css('width', '+=' + (0.05 * $('.widdd2').width()));
        $('#quiz_list14').hide();
        $('#quiz_list15').show();
        result_list.push($('#q14_input').val())
    }

    function nextEvent15() { // 다음누르면 기존 질문 hide()
        $('#present_rates').css('width', '+=' + (0.05 * $('.widdd2').width()));
        $('#quiz_list15').hide();
        $('#quiz_list16').show();
        result_list.push($('#q15_input').val())
    }

    function nextEvent16() { // 다음누르면 기존 질문 hide()
        $('#present_rates').css('width', '+=' + (0.05 * $('.widdd2').width()));
        $('#quiz_list16').hide();
        $('#quiz_list17').show();
        result_list.push($('#q16_input').val())
    }

    function nextEvent17() { // 다음누르면 기존 질문 hide()
        $('#present_rates').css('width', '+=' + (0.05 * $('.widdd2').width()));
        $('#quiz_list17').hide();
        $('#quiz_list18').show();
        result_list.push($('#q17_input').val())
    }

    function nextEvent18() { // 다음누르면 기존 질문 hide()
        $('#present_rates').css('width', '+=' + (0.05 * $('.widdd2').width()));
        $('#quiz_list18').hide();
        $('#quiz_list19').show();
        result_list.push($('#q18_input').val())
    }

    function nextEvent19() { // 다음누르면 기존 질문 hide()
        $('#present_rates').css('width', '+=' + (0.05 * $('.widdd2').width()));
        $('#quiz_list19').hide();
        $('#quiz_list20').show();
        result_list.push($('#q19_input').val())
    }

    function nextEvent20() { // 마지막 누르면 결과 합산!! 펑션
        $('#present_rates').css('width', '+=' + (0.05 * $('.widdd2').width()));
        result_list.push($('#q20_input').val())
         $('#quiz_all').empty();
         // 여기다가 새로운 함수들 넣으면 됨.
    }

    // function backClickEvent2() { //이전 클릭 시 이벤트(이전 db 가지고오기)
    //     $('#present_rates').css('width', '-=' + (0.05 * $('.widdd2').width()));
    //     $('#quiz_list1').show();
    //     $('#quiz_list2').hide();
    // }
    //
    // function backClickEvent3() { //이전 클릭 시 이벤트(이전 db 가지고오기)
    //     $('#present_rates').css('width', '-=' + (0.05 * $('.widdd2').width()));
    //     $('#quiz_list2').show();
    //     $('#quiz_list3').hide();
    // }
    //
    // function backClickEvent4() { //이전 클릭 시 이벤트(이전 db 가지고오기)
    //     $('#present_rates').css('width', '-=' + (0.05 * $('.widdd2').width()));
    //     $('#quiz_list3').show();
    //     $('#quiz_list4').hide();
    // }
    //
    // function backClickEvent5() { //이전 클릭 시 이벤트(이전 db 가지고오기)
    //     $('#present_rates').css('width', '-=' + (0.05 * $('.widdd2').width()));
    //     $('#quiz_list4').show();
    //     $('#quiz_list5').hide();
    // }
    //
    // function backClickEvent6() { //이전 클릭 시 이벤트(이전 db 가지고오기)
    //     $('#present_rates').css('width', '-=' + (0.05 * $('.widdd2').width()));
    //     $('#quiz_list5').show();
    //     $('#quiz_list6').hide();
    // }
    //
    // function backClickEvent7() { //이전 클릭 시 이벤트(이전 db 가지고오기)
    //     $('#present_rates').css('width', '-=' + (0.05 * $('.widdd2').width()));
    //     $('#quiz_list6').show();
    //     $('#quiz_list7').hide();
    // }
    //
    // function backClickEvent8() { //이전 클릭 시 이벤트(이전 db 가지고오기)
    //     $('#present_rates').css('width', '-=' + (0.05 * $('.widdd2').width()));
    //     $('#quiz_list7').show();
    //     $('#quiz_list8').hide();
    // }
    //
    // function backClickEvent9() { //이전 클릭 시 이벤트(이전 db 가지고오기)
    //     $('#present_rates').css('width', '-=' + (0.05 * $('.widdd2').width()));
    //     $('#quiz_list8').show();
    //     $('#quiz_list9').hide();
    // }
    //
    // function backClickEvent10() { //이전 클릭 시 이벤트(이전 db 가지고오기)
    //     $('#present_rates').css('width', '-=' + (0.05 * $('.widdd2').width()));
    //     $('#quiz_list9').show();
    //     $('#quiz_list10').hide();
    // }
    //
    // function backClickEvent11() { //이전 클릭 시 이벤트(이전 db 가지고오기)
    //     $('#present_rates').css('width', '-=' + (0.05 * $('.widdd2').width()));
    //     $('#quiz_list10').show();
    //     $('#quiz_list11').hide();
    // }
    //
    // function backClickEvent12() { //이전 클릭 시 이벤트(이전 db 가지고오기)
    //     $('#present_rates').css('width', '-=' + (0.05 * $('.widdd2').width()));
    //     $('#quiz_list11').show();
    //     $('#quiz_list12').hide();
    // }
    //
    // function backClickEvent13() { //이전 클릭 시 이벤트(이전 db 가지고오기)
    //     $('#present_rates').css('width', '-=' + (0.05 * $('.widdd2').width()));
    //     $('#quiz_list12').show();
    //     $('#quiz_list13').hide();
    // }
    //
    // function backClickEvent14() { //이전 클릭 시 이벤트(이전 db 가지고오기)
    //     $('#present_rates').css('width', '-=' + (0.05 * $('.widdd2').width()));
    //     $('#quiz_list13').show();
    //     $('#quiz_list14').hide();
    // }
    //
    // function backClickEvent15() { //이전 클릭 시 이벤트(이전 db 가지고오기)
    //     $('#present_rates').css('width', '-=' + (0.05 * $('.widdd2').width()));
    //     $('#quiz_list14').show();
    //     $('#quiz_list15').hide();
    // }
    //
    // function backClickEvent16() { //이전 클릭 시 이벤트(이전 db 가지고오기)
    //     $('#present_rates').css('width', '-=' + (0.05 * $('.widdd2').width()));
    //     $('#quiz_list15').show();
    //     $('#quiz_list16').hide();
    // }
    //
    // function backClickEvent17() { //이전 클릭 시 이벤트(이전 db 가지고오기)
    //     $('#present_rates').css('width', '-=' + (0.05 * $('.widdd2').width()));
    //     $('#quiz_list16').show();
    //     $('#quiz_list17').hide();
    // }
    //
    // function backClickEvent18() { //이전 클릭 시 이벤트(이전 db 가지고오기)
    //     $('#present_rates').css('width', '-=' + (0.05 * $('.widdd2').width()));
    //     $('#quiz_list17').show();
    //     $('#quiz_list18').hide();
    // }
    //
    // function backClickEvent19() { //이전 클릭 시 이벤트(이전 db 가지고오기)
    //     $('#present_rates').css('width', '-=' + (0.05 * $('.widdd2').width()));
    //     $('#quiz_list18').show();
    //     $('#quiz_list19').hide();
    // }
    //
    // function backClickEvent20() { //버튼없애기.
    //     $('#present_rates').css('width', '-=' + (0.05 * $('.widdd2').width()));
    //     $('#quiz_list19').show();
    //     $('#quiz_list20').hide();
    // }
</script>
<style>
    * {
        font-family: 'Nanum Gothic', sans-serif;
    }

    .wrap {
        padding-left: 30px;
        padding-top: 30px;
        width: 1200px;
        margin: auto;
    }

    .wrap_button {
        width: 800px;
        margin: auto;
        padding-top: 10px;
    }
</style>
<body>
<div class="wrap" id="quiz_all">
    <div class="widdd2" style="height: 30px; width: 800px; background-color: rgba(102,102,102,.2);">
        <div id="present_rates" class="mh-100"
             style="width: 0px; height: 200px; background-color: rgba(051,051,051,.9);"></div>
    </div>
    <h2 style="margin-top: 30px"> 나의 </h2>
    <h2 style="font-weight: bold"> 인생 </h2>
    <h2> 기록해보기</h2>
    <hr>
    <div id="quiz_list1">
        <h4 style="margin-top: 30px"> 질문1) 부모님의 이름은?</h4>
        <textarea placeholder="입력해주세요." style="width: 500px; margin-top: 10px" id="q1_input"></textarea>
        <!--    질문과 답변을 show hide()-->
        <div class="wrap_button">
<!--?            <button type="button" class="btn btn-secondary" onclick="backClickEvent1()">이전</button>-->
            <button type="button" class="btn btn-dark" onclick="nextEvent1()">다음</button>
        </div>
    </div>
    <div id="quiz_list2" style="display: none">
        <h4 style="margin-top: 30px"> 질문2) (유년기)태어난 날짜와 고향은?</h4>
        <textarea placeholder="입력해주세요." style="width: 500px; margin-top: 10px" id="q2_input"></textarea>
        <!--    질문과 답변을 show hide()-->
        <div class="wrap_button">
<!--?            <button type="button" class="btn btn-secondary" onclick="backClickEvent2()">이전</button>-->
            <button type="button" class="btn btn-dark" onclick="nextEvent2()">다음</button>
        </div>
    </div>
    <div id="quiz_list3" style="display: none">
        <h4 style="margin-top: 30px"> 질문3) (유년기)자식들 중 몇째인가요?(예)3남2녀중 5째)</h4>
        <textarea placeholder="입력해주세요." style="width: 500px; margin-top: 10px" id="q3_input"></textarea>
        <!--    질문과 답변을 show hide()-->
        <div class="wrap_button">
<!--?            <button type="button" class="btn btn-secondary" onclick="backClickEvent3()">이전</button>-->
            <button type="button" class="btn btn-dark" onclick="nextEvent3()">다음</button>
        </div>
    </div>
    <div id="quiz_list4" style="display: none">
        <h4 style="margin-top: 30px"> 질문4 (유년기)어린시절 가정형편은?(가난한 or 평범함 or 부유한)</h4>
        <textarea placeholder="입력해주세요." style="width: 500px; margin-top: 10px" id="q4_input"></textarea>
        <!--    질문과 답변을 show hide()-->
        <div class="wrap_button">
<!--?            <button type="button" class="btn btn-secondary" onclick="backClickEvent4()">이전</button>-->
            <button type="button" class="btn btn-dark" onclick="nextEvent4()">다음</button>
        </div>
    </div>
    <div id="quiz_list5" style="display: none">
        <h4 style="margin-top: 30px"> 질문5) (청소년기)학창시절 학교 끝나고 무엇을하며 놀았나요?</h4>
        <textarea placeholder="입력해주세요." style="width: 500px; margin-top: 10px" id="q5_input"></textarea>
        <!--    질문과 답변을 show hide()-->
        <div class="wrap_button">
<!--?            <button type="button" class="btn btn-secondary" onclick="backClickEvent5()">이전</button>-->
            <button type="button" class="btn btn-dark" onclick="nextEvent5()">다음</button>
        </div>
    </div>
    <div id="quiz_list6" style="display: none">
        <h4 style="margin-top: 30px"> 질문6) (청소년기)학창시절 별명은 무엇이었나요?</h4>
        <textarea placeholder="입력해주세요." style="width: 500px; margin-top: 10px" id="q6_input"></textarea>
        <!--    질문과 답변을 show hide()-->
        <div class="wrap_button">
<!--?            <button type="button" class="btn btn-secondary" onclick="backClickEvent6()">이전</button>-->
            <button type="button" class="btn btn-dark" onclick="nextEvent6()">다음</button>
        </div>
    </div>
    <div id="quiz_list7" style="display: none">
        <h4 style="margin-top: 30px"> 질문7) (청소년기)학창시절 꿈은 무엇이었나요?</h4>
        <textarea placeholder="입력해주세요." style="width: 500px; margin-top: 10px" id="q7_input"></textarea>
        <!--    질문과 답변을 show hide()-->
        <div class="wrap_button">
<!--?            <button type="button" class="btn btn-secondary" onclick="backClickEvent7()">이전</button>-->
            <button type="button" class="btn btn-dark" onclick="nextEvent7()">다음</button>
        </div>
    </div>
    <div id="quiz_list8" style="display: none">
        <h4 style="margin-top: 30px"> 질문8) (청년기)부모님의 첫 직장은 무엇인가요?</h4>
        <textarea placeholder="입력해주세요." style="width: 500px; margin-top: 10px" id="q8_input"></textarea>
        <!--    질문과 답변을 show hide()-->
        <div class="wrap_button">
<!--?            <button type="button" class="btn btn-secondary" onclick="backClickEvent8()">이전</button>-->
            <button type="button" class="btn btn-dark" onclick="nextEvent8()">다음</button>
        </div>
    </div>
    <div id="quiz_list9" style="display: none">
        <h4 style="margin-top: 30px"> 질문9) (청년기)부모님이 좋아하는 계절과 취미는?</h4>
        <textarea placeholder="입력해주세요." style="width: 500px; margin-top: 10px" id="q9_input"></textarea>
        <!--    질문과 답변을 show hide()-->
        <div class="wrap_button">
<!--?            <button type="button" class="btn btn-secondary" onclick="backClickEvent9()">이전</button>-->
            <button type="button" class="btn btn-dark" onclick="nextEvent9()">다음</button>
        </div>
    </div>
    <div id="quiz_list10" style="display: none">
        <h4 style="margin-top: 30px"> 질문10) (청년기)두분은 어떻게 만나시고 좋아하게 되었나요?</h4>
        <textarea placeholder="입력해주세요." style="width: 500px; margin-top: 10px" id="q10_input"></textarea>
        <!--    질문과 답변을 show hide()-->
        <div class="wrap_button">
<!--?            <button type="button" class="btn btn-secondary" onclick="backClickEvent10()">이전</button>-->
            <button type="button" class="btn btn-dark" onclick="nextEvent10()">다음</button>
        </div>
    </div>
    <div id="quiz_list11" style="display: none">
        <h4 style="margin-top: 30px"> 질문11) (청년기)결혼은 왜 하셨나요?</h4>
        <textarea placeholder="입력해주세요." style="width: 500px; margin-top: 10px" id="q11_input"></textarea>
        <!--    질문과 답변을 show hide()-->
        <div class="wrap_button">
<!--?            <button type="button" class="btn btn-secondary" onclick="backClickEvent11()">이전</button>-->
            <button type="button" class="btn btn-dark" onclick="nextEvent11()">다음</button>
        </div>
    </div>
    <div id="quiz_list12" style="display: none">
        <h4 style="margin-top: 30px"> 질문12) (청년기)나를 낳았을때 심정은 어땠나요?</h4>
        <textarea placeholder="입력해주세요." style="width: 500px; margin-top: 10px" id="q12_input"></textarea>
        <!--    질문과 답변을 show hide()-->
        <div class="wrap_button">
<!--?            <button type="button" class="btn btn-secondary" onclick="backClickEvent12()">이전</button>-->
            <button type="button" class="btn btn-dark" onclick="nextEvent12()">다음</button>
        </div>
    </div>
    <div id="quiz_list13" style="display: none">
        <h4 style="margin-top: 30px"> 질문13) (장년기)부모님의 삶의 원칙이나 가치관을 적어주세요.</h4>
        <textarea placeholder="입력해주세요." style="width: 500px; margin-top: 10px" id="q13_input"></textarea>
        <!--    질문과 답변을 show hide()-->
        <div class="wrap_button">
<!--?            <button type="button" class="btn btn-secondary" onclick="backClickEvent13()">이전</button>-->
            <button type="button" class="btn btn-dark" onclick="nextEvent13()">다음</button>
        </div>
    </div>
    <div id="quiz_list14" style="display: none">
        <h4 style="margin-top: 30px"> 질문14) (장년기)인생에서 가장 힘들었던 일을 알려주세요.</h4>
        <textarea placeholder="입력해주세요." style="width: 500px; margin-top: 10px" id="q14_input"></textarea>
        <!--    질문과 답변을 show hide()-->
        <div class="wrap_button">
<!--?            <button type="button" class="btn btn-secondary" onclick="backClickEvent14()">이전</button>-->
            <button type="button" class="btn btn-dark" onclick="nextEvent14()">다음</button>
        </div>
    </div>
    <div id="quiz_list15" style="display: none">
        <h4 style="margin-top: 30px"> 질문15) (장년기)인생에서 가장 크게 저지른 실수로 후회되는 일은 무엇일까요?</h4>
        <textarea placeholder="입력해주세요." style="width: 500px; margin-top: 10px" id="q15_input"></textarea>
        <!--    질문과 답변을 show hide()-->
        <div class="wrap_button">
<!--?            <button type="button" class="btn btn-secondary" onclick="backClickEvent15()">이전</button>-->
            <button type="button" class="btn btn-dark" onclick="nextEvent15()">다음</button>
        </div>
    </div>
    <div id="quiz_list16" style="display: none">
        <h4 style="margin-top: 30px"> 질문16)(현재)제가 한 일중 제일 좋았던것은 무엇인가요?</h4>
        <textarea placeholder="입력해주세요." style="width: 500px; margin-top: 10px" id="q16_input"></textarea>
        <!--    질문과 답변을 show hide()-->
        <div class="wrap_button">
<!--?            <button type="button" class="btn btn-secondary" onclick="backClickEvent16()">이전</button>-->
            <button type="button" class="btn btn-dark" onclick="nextEvent16()">다음</button>
        </div>
    </div>
    <div id="quiz_list17" style="display: none">
        <h4 style="margin-top: 30px"> 질문17)(현재)제가 어떻게 커가길 바라시나요?</h4>
        <textarea placeholder="입력해주세요." style="width: 500px; margin-top: 10px" id="q17_input"></textarea>
        <!--    질문과 답변을 show hide()-->
        <div class="wrap_button">
<!--?            <button type="button" class="btn btn-secondary" onclick="backClickEvent17()">이전</button>-->
            <button type="button" class="btn btn-dark" onclick="nextEvent17()">다음</button>
        </div>
    </div>
    <div id="quiz_list18" style="display: none">
        <h4 style="margin-top: 30px"> 질문18)(현재)저에게 해주고싶은 조언이나 해주고싶은 말을 알려주세요.</h4>
        <textarea placeholder="입력해주세요." style="width: 500px; margin-top: 10px" id="q18_input"></textarea>
        <!--    질문과 답변을 show hide()-->
        <div class="wrap_button">
<!--?            <button type="button" class="btn btn-secondary" onclick="backClickEvent18()">이전</button>-->
            <button type="button" class="btn btn-dark" onclick="nextEvent18()">다음</button>
        </div>
    </div>
    <div id="quiz_list19" style="display: none">
        <h4 style="margin-top: 30px"> 질문19)(마지막)부모님의 마지막은 어떻게 기억되고 싶으신가요?</h4>
        <textarea placeholder="입력해주세요." style="width: 500px; margin-top: 10px" id="q19_input"></textarea>
        <!--    질문과 답변을 show hide()-->
        <div class="wrap_button">
<!--?            <button type="button" class="btn btn-secondary" onclick="backClickEvent19()">이전</button>-->
            <button type="button" class="btn btn-dark" onclick="nextEvent19()">다음</button>
        </div>
    </div>
    <div id="quiz_list20" style="display: none">
        <h4 style="margin-top: 30px"> 질문20)(마지막)다시태어나도 제 부모님으로 태어나 주실껀가요?</h4>
        <textarea placeholder="입력해주세요." style="width: 500px; margin-top: 10px" id="q20_input"></textarea>
        <!--    질문과 답변을 show hide()-->
        <div class="wrap_button">
<!--?            <button type="button" class="btn btn-secondary" onclick="backClickEvent20()">이전</button>-->
            <button type="button" class="btn btn-dark" onclick="nextEvent20()">다음</button>
        </div>
    </div>
</div>
</body>
</html>